DATABASE_URL=postgresql://lab:lab@localhost:5432/auth_lab
REDIS_URL=redis://localhost:6379

# JWT Config
JWT_ACCESS_EXPIRES=1h
# JWT_ACCESS_SECRET=supersecretaccess (disable for lab4)
JWT_REFRESH_SECRET=supersecretrefresh
JWT_REFRESH_EXPIRES=7d
REFRESH_TOKEN_STRATEGY=blacklist

# RSA Keys (Single Line Format)
JWT_PRIVATE_KEY=base64-format-private-key
JWT_PUBLIC_KEY=base64-format-public-key